@media only screen {
	.global-recentposts{
		display: none;
	}
	.global-recentposts-grid{
		margin-top: 20px;
	}
	.global-recentposts-grid-item{
		max-width: 320px;
		margin: 0 auto 20px auto;
		text-align: left;
	}
	.global-recentposts-grid-item-imagecontainer{
		max-height: 200px;
		position: relative;
		overflow: hidden;
	}
	.global-recentposts-grid-item-imagecontainer-image{
		width: 100%;
	}
	.global-recentposts-grid-item-header{
		text-align: left;
		padding: 10px;
		color: black;
		font-family: 'Montserrat', 'Helvetica', sans-serif;
		&:after{
			content: '';
			border-bottom: 3px solid $primary;
			width: 20%;
			display: block;
			padding: 5px;
		}
	}
	.global-recentposts-grid-item-description{
		text-align: left;
		margin: 10px;
	}
	.global-recentposts-grid-item-sociallinks{
		text-align: center;
	}
	.global-recentposts-grid-item-link{
		display: inline-block;
		text-transform: uppercase;
		font-weight: 500;
		font-size: 1.2rem;
		margin-top: 10px;
		color: black;
		text-decoration: none;
		border: 2px solid black;
		padding: 10px 15px;
		left: 50%;
		position: relative;
		@include transform(translateX(-50%));
	}
	.global-recentposts-viewall{
		text-decoration: none;
		color: white;
		text-transform: uppercase;
		background-color: $primary;
		padding: 15px 20px;
		margin-top: 40px;
		margin-bottom: 80px;
		border-radius: 4px;
		display: inline-block;
	}
}

@media only screen and (min-width: $medium){
	
}

@media only screen and (min-width: $large){
	.global-recentposts{
		display: block;
	}
	.global-recentposts-grid{
		font-size: 0;
		margin-left: -20px;
		margin-right: -20px;
	}
	.global-recentposts-grid-item{
		display: inline-block;
		vertical-align: top;
		margin: 0px 10px 20px 10px;
	}
	.global-recentposts-grid-item-header{
		font-size: 1.8rem;
	}
	.global-recentposts-grid-item-description,
	.global-recentposts-grid-item-link{
		font-size: 1.6rem;
	}
	.global-recentposts-viewall{
		font-size: 1.8rem;
		font-weight: normal;
		margin-bottom: 40px;
	}
}