@media only screen {
	.main{
		background-size: cover;
		background-repeat: no-repeat;
		background-position-x: 50%;
		box-sizing: border-box;
		position: relative;
	}
	.main-tint{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.main--hasbg{
		.company-wysiwyg,
		.hero-text-subheader,
		.services-services-grid-item-wrapper,
		.gallery-galleries-gallery-header,
		.menu-menu-grid-category-header,
		.menu-menu-grid-category-description,
		.blog-blog{
			color: white;
			position: relative;
			z-index: 2;
		}
		.gallery-galleries,
		.company-employees-grid,
		.services-services-grid,
		.menu-menu,
		.coupons-coupons, 
		.testimonials-testimonials,
		.global-recentposts-viewall,
		.areas-served-areas{
			position: relative;
			z-index: 2;
		}
		.main-tint{
			@include gradient-vertical(rgba(0,0,0,0.75), rgba(0,0,0,0.2));
			display: block;
		}
	}
	.main{
		.hero-text-header{
			&:after{
				content: '';
				border-bottom: 4px solid $primary;
				width: 100%;
				position: relative;
				display: block;
			}
		}
		.areas-served-hero-text-header,
		.contact-hero-text-header{
			&:after{
				border-bottom: none;
			}
		}
	}
	.main-tint{
		display: none;
	}
	.section{
		text-align: center;
		padding: 20px;
	}
	.section-header{
		display: inline-block;
		border-bottom: 2px solid $primary;
		padding: 10px;
	}	
	.hero{
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;
		height: 80vh;
		position: relative;
		background-position-y: 50%;
	}
	.hero-text{
		position: absolute;
		top: 50%;
		left: 20px;
		@include transform(translateY(-50%));
		z-index: 1;
		width: 100%;
		text-align: center;
	}
	section:not(.home-hero):not(#coupons):not(#blog){
		&.hero{
			height: 20vh;
			overflow: hidden;
		}
		.hero-text{
			left: 50%;
			@include transform(translate(-50%,-50%));
		}
		.hero-text-header{
			color: black;
		}
	}	
	.page.blog,
	.page.coupons{
		section.hero{
			height: 40vh !important;
			padding-top: 48px;
		}
		section .hero-text-header{
			color: white !important;
		}
	}
	.coupons-hero,
	.blog-hero{
		overflow: hidden;
		.hero-text{
			left: 50%;
			@include transform(translate(-50%, -50%));
		}
		.hero-text-header{
			font-size: 5rem;
		}
	}
	.hero-text-header{
		font-size: 3.6rem;
		color: white;
		margin: 20px 0;
		display: inline-block;
		font-family: $body;
		font-weight: 900;
		&.hero-text-header--nobg{
			color: black;
			border-bottom: 6px solid $primary;
			padding-bottom: 7px;
		}
	}
	.hero-text-subheader{
		font-size: 1.8rem;
		color: black;
		line-height: 24px;
		padding: 20px;
		max-width: 720px;
		margin: 0 auto;
		text-align: left;
	}
	.hero-tint{
		background-color: rgba(0,0,0,0.4);
		position: absolute;
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
		pointer-events: none;
		&.hero-tint--nobg{
			display: none;
		}
	}
}
@media only screen and (min-width: $medium){
	.hero-text-header{
		font-size: 5rem;
	}
	.hero-text-subheader{
		text-align: center;
	}
}
@media only screen and (min-width: $large){
	.section-header{
		font-size: 3.6rem;
		margin: 40px 0;
		border-left-width: 4px;
		border-right-width: 4px;
	}
	.hero-text{
		left: 40px;
		@include transform(translate(0,0));
		top: auto;
		bottom: 10%;
	}
	section:not(.home-hero):not(#coupons):not(#blog){
		&.hero{
			height: 18vh;
		}
		.hero-text{
			bottom: auto;
			top: 50%;
			@include transform(translate(-50%, -50%));
		}
	}
	.page.blog,
	.page.coupons{
		section.hero{
			height: 55vh !important;
			padding-top: 110px;
		}
	}
	.hero-text-header{
		// font-size: 5rem;
		max-width: 580px;
	}
}

@media only screen and (min-width: 1520px){
	.hero-text{
		left: calc((100vw - 1440px) / 2);
	}
}