@media only screen {
	.home-hero,
	.home-hero-tint{
		height: 90vh;
	}
	.home-hero-text-button{
		text-decoration: none;
		color: black;
		text-transform: uppercase;
		background-color: $primary;
		padding: 15px 20px;
		margin-top: 20px;
		display: inline-block;
	}
	.home-hero-text{
		top: auto;
		bottom: 40px;
		width: 100%;
		text-align: center;
		@include transform(translateX(-50%));
		left: 50%;
	}
	.home-hero-text-header{
		margin: 0;
		max-width: none;
		display: block;
	}
	.home-hero-text-button{
		border-radius: 4px;
		font-weight: 400;
		color: white;
	}
}

@media only screen and (min-width: $medium){
	.home-hero-text{
		text-align: center;
	}
	.home-hero-text-header{
		position: relative;
		left: 50%;
		@include transform(translateX(-50%));
		font-size: 7rem;
	}
	.home-hero-text-button{
		font-size: 2rem;
		font-weight: normal;
	}
}
@media only screen and (min-width: $large){
	.home-hero-text-header{
		font-size: 8rem;
	}
}
