@media only screen {
	.testimonials-testimonials-grid{
		margin-top: 20px;
	}
	.testimonials-testimonials-grid-item{
		margin: 40px 20px;
		text-align: left;
		background-color: $light-grey;
		padding: 20px;
		position: relative;
		max-width: 641px;
		left: calc(50% - 20px);
		@include transform(translateX(-50%));
	}
	.testimonials-testimonials-grid-item-personinfo{
		padding: 20px 0;
	}
	.testimonials-testimonials-grid-item-personinfo-name{
		font-weight: 500;
		font-size: 1.6rem;
	}
	.testimonials-testimonials-grid-item-image{
		width: 100%;
		min-height: 220px;
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		max-width: 641px;
	}
	.testimonials-testimonials-grid-item-quote{
		padding-top: 20px;
		font-size: 1.6rem;
	}
	.testimonials-testimonials-grid-item-youtubecontainer{
		text-align: center;
		position: relative;
	    padding-bottom: 56.25%;
	    padding-top: 30px; height: 0; overflow: hidden;
		iframe, object, embed{
			position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		}
	}
}

@media only screen and (min-width: $medium){

}

@media only screen and (min-width: $large){
	.testimonials-testimonials{
		padding: 40px 0;
		position: relative;
	}
	.testimonials-testimonials-grid{
		position: relative;
		min-height: 300px;
		z-index: 1;
		max-width: 1020px;
		width: 100%;
		margin: 0 auto;
	}
	.testimonials-testimonials-grid-item{
		width: 100%;
		max-width: none;
		box-sizing: border-box;
		font-size: 0;
	}
	.testimonials-testimonials-grid-item-image{
		min-height: 320px;
	}
	.hasimage{
		.testimonials-testimonials-grid-item-image,
		.testimonials-testimonials-grid-item-textwrap{
			width: 50%;
			display: inline-block;
			vertical-align: middle;
			box-sizing: border-box;
		}	
		.testimonials-testimonials-grid-item-image{
			padding-right: 10px;
		}
		.testimonials-testimonials-grid-item-textwrap{
			padding-left: 10px;
		}
	}
}









