@media only screen {
	.footer{
		display: none;
	}
	.footer-middlecolumn1-sitemap{
		display: none;
	}
	.footer-copyright{
		display: none;
	}
	.footer-middlecolumn2-payment-type{
		height: 30px;
		background-image: url('../../library/img/payment-types.jpg');
		background-repeat: no-repeat;
		margin: 5px;
		width: 47.3px;
	    display: inline-block;
		background-position: 0 0;
	    &.mastercard{
	    	background-position: 0% 0;
	    }
		&.visa{
			background-position: calc(100% / 6) 0;
		}
		&.amex{
			background-position: calc(calc(2 / 6) * 100%) 0;
		}
		&.discover{
			background-position: 50% 0;
		}
		&.paypal{
			background-position: calc(calc(4 / 6) * 100%) 0;
		}
		&.cash{
			background-position: calc(calc(5 / 6) * 100%) 0;
		}
		&.check{
			background-position: 100% 0;
		}
		&.hasimage{
			background-image: none;
		}
	}
	.footer-middlecolumn2-payment-type-image{
		display: inline-block;
		height: 100%;
		width: auto;
	}
}	

@media only screen and (min-width: $medium){

}

@media only screen and (min-width: $large){
	.footer{
		display: block;
		background-color: $footer-grey;
		ul{
			list-style: none;
		}
	}
	.footer-wrap{
		padding: 40px;
		font-size: 0;
		max-width: 1440px;
		margin: 0 auto;
	}
	.footer-logo{
		display: inline-block;
	}
	.footer-logo-image{
		max-width: 100%;
		max-height: 64px;
	}
	.footer-sociallinks{
		font-size: 0;
		display: inline-block;
		vertical-align: middle;
		position: relative;
		top: 1px;
	}
	.footer-sociallinks-item{
		display: inline-block;
		background-color: $primary;
		width: 45px;
		height: 45px;
		border-radius: 330px;
		position: relative;
		margin-right: 10px;
	}
	.footer-sociallinks-item-link{
		font-size: 2.8rem;
		color: black;
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%,-50%));
		display: inline-block;
	}
	.footer-sociallinks-item-link-icon{
		display: inline-block;
	    vertical-align: top;
	    position: relative;
	    top: 3px;
	    &:before{
			color: white;
		}
	}
	.footer-contactlinks{
		font-size: 0;
		padding-top: 10px;
	}
	.footer-contactlinks-email,
	.footer-contactlinks-fax,
	.footer-contactlinks-phone{
		font-size: 1.3rem;
		display: block;
		color: white;
		text-decoration: none;
		padding: 5px;
		padding-left: 0;
	}
	.footer-contactlinks-address{
		font-size: 1.3rem;
		color: white;
		padding-top: 10px;
	}
	.footer-webxlink{
		margin-top: 20px;
		display: block;
		text-decoration: none;
		color: white;
		font-size: 1.5rem;
		text-align: right;
	}
	.footer-webxlink-logo{
		display: inline-block;
	    height: 65px;
	    margin: 10px 0px 0px 0px;
	}
	.footer-pagelinks{
		width: 60%;
		padding: 20px 0;
		&:before,
		&:after{
			content: '';
			width: 200px;
			display: block;
			border-bottom: 1px solid white;
		}
		&:before{
			margin-bottom: 20px;
		}
		&:after{
			margin-top: 15px;
		}
	}
	.footer-pagelinks-item{
		display: inline-block;
		padding-right: 20px;
	}
	.footer-pagelinks-item-link{
		color: white;
		text-transform: uppercase;
		text-decoration: none;
		padding-bottom: 10px;
		display: inline-block;
		font-size: 1.6rem;
	}
	.footer-copyright{
		color: white;
		font-size: 1.3rem;
		text-align: center;
		padding: 10px 0;
		width: 100%;
		background-color: black;
		display: block;
	}
	.footer-copyright-tclink{
		color: white;
		text-decoration: none;
	}
	.footer-leftcolumn,
	.footer-middlecolumn1,
	.footer-rightcolumn{
		display: block;
	}
	.footer-leftcolumn{
		padding-right: 20px;
		box-sizing: border-box;
	}
	.footer-middlecolumn1{

	}
	.footer-pagelinks{

	}
	.footer-middlecolumn1-sitemap,
	.footer-middlecolumn2-payment{
		font-size: 1.8rem;
		display: none;
		color: white;
		text-transform: uppercase;
		margin-bottom: 20px;
		padding-bottom: 4px;
	}
	.footer-middlecolumn2{
	    box-sizing: border-box;
	    padding-bottom: 20px;
	    &:after{
	    	content: '';
	    	width: 200px;
	    	display: block;
	    	border-bottom: 1px solid white;	
	    	margin-top: 20px;
	    }
	}
	.footer-middlecolumn2-payment-type{
		margin-right: 20px;
		margin-left: 0px;
	}
	.footer-rightcolumn{
		text-align: left;
		position: relative;
	}
	.footer-webxlink{
		position: absolute;
		right: 0;
		bottom: 0;
	}	
	footer.footer.light{
		background-color: $footer-bg;
		color: black;
		.footer-contactlinks-phone,
		.footer-contactlinks-fax,
		.footer-contactlinks-address,
		.footer-pagelinks-item-link,
		.footer-webxlink,
		.footer-copyright,
		.footer-copyright-tclink,
		.footer-middlecolumn1-sitemap{
			color: black;
		}
		.footer-copyright{
			background-color: $estimate-bar;
		}
	}
	footer.footer.invertlogo{
		.footer-logo-image{
			@include filter(invert, 100%);
		}
	}
}